.git
.venv
**/.venv
**/__pycache__
**/.pytest_cache
**/.ruff_cache
**/.mypy_cache
web/node_modules
web/*.tsbuildinfo
dist
**/dist
data
examples
tests
witdem-sdk
!witdem-sdk/
witdem-sdk/*
!witdem-sdk/src/
!witdem-sdk/src/**
.DS_Store
